# directories
cali_dec/
cali_hex/
cali_tot/
main_data_dec/
main_data_hex/
.vscode/

# file extensions
*.pdf
*.d
*.pcm
*.root

# specific files
convertHex2Dec

re-adjust.cpp
re-adjust

test.cpp
test

texput.log

.DS_store